body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #dc3545;
}

#myForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search {
    border: 1px solid #ced4da;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

#result {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

img {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
}

p {
    color: #6c757d;
}

.para{
    text-align: center;
}